html,
body{
    padding: 0;
    margin: 0;
    background-color: #39363E;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
box-shadow: 0 0 0 3px #f96b3b;
}
header {
    position: relative;
    z-index: 50;
    width: 100%;
    height: 80px;
    background-color: #39363E;
}

.header__inner {
    display: flex;  
}

.header__inner img {
    margin: 10px 40% 10px 10%;
    height: 60px;
    width: auto;
}

.header__text {
    width: 100%;
    display: flex;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}
#demo,#demotwo{
    background-color: #39363E;
    border: 2px solid #FF855D ;
    color:white;
    width: 10%;
    
}

.header__text a {
    margin-right: 13%;
    margin-top: 3%;
    font-size: 18px;
    font-weight: 600;
    color: #CCCCCC;
    text-decoration: none;
    display: inline-block;
}

.header__text a::after {
    content: '';
    display: block;
    background-color: white;
    width: 0%;
    height: 1px;
    transition: width .3s ease-in-out;
}

.header__text a:hover::after {
    width: 100%;
}
.header__text button{
width: 207px;
height: 40px;
border:0;
flex-shrink: 0;
border-radius: 30px;
background: #FF855D;
transition: all 0.3s;
color: white;
}
.header__text button:hover{
background-color: #f96b3b;
}

main div{
    min-width: auto;
}

.picture{
    min-width: 100%;
    min-height: 800px;
    background: url(../assets/picture.png);
    background-repeat: no-repeat;
}
.heading{
    text-align: center;
    color: #FFF;
    font-family: Roboto;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    padding-top:300px ;
    line-height: normal;
}
.line_cont{
    width: 100%;
    position: relative;
    margin-top: 8px;;
}
.linechild{
    position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 319px;
	height: 1px;
    background-color: #FFF;

}
.text{
margin-top:30px ;
color: #FFF;
font-size: 40px;
text-align: center;
}
.calc{
    width: 100%;
    height: 1025px;

}
.h1{
    text-align: center;
    color: #FFF;
}

.title{
    text-align: center;
    color: #FFF;
}
.maincalc{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    
}
.formcalc{
    margin-top: -45px;
    width: 450px;
    height: 100%;
    border:2px solid #FF855D; 
    border-radius: 20px;
}
.home{
    position: static;
}
 #myRange,#myRangetwo{
    width: 90%;
    text-align: center;
    margin-left: 22px;
    accent-color: coral;
    
}

.formcalc label{
color: white;
}

.about {
    background: #fff;
    padding-bottom: 10%;
}

.contactUs {
    font-size: 30px;
    padding-top: 8%;
    margin-bottom: 3%;
    text-align: center;
}

.aboutBlock {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.contacts h3 {
    font-size: 24px;
    margin-bottom: 11px;
    margin-top: 3%;
}

.contacts p,
a {
    font-size: 24px;
    color: #7D7D7D;
    text-decoration: none;
    margin-bottom: 5px;
}

.img-block img {
    margin-top: 3%;
    margin-right: 23px;
}

.inputsBlock {
    margin-top: 1.5%;
}

.inputsBlock input, textarea {
    font-size: 22px;
    color: #7D7D7D;
    padding-left: 35px;
    width: 526px;
    height: 65px;
    border: 3px #FF855D solid;
    border-radius: 5px;
    margin-bottom: 6.1%;
}

.inputsBlock textarea {
    padding-top: 10px;
    height: 131px;
}

.inputsBlock .btn {
    width: 569px;
    height: 65px;
    background: #FF855D;
    outline: none;
    border: none;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}

.requireAboutus {
    font-size: 24px;
    margin-top: 10px;
    margin-left: 18%;
}

.formcalc .maintarg{
    color: white;
    text-align: center;
    margin-top: 5% !important;
    margin: auto;
}

.select{
    margin-top:21px ;
    margin-left: 22px;
    border: 2px solid #FF855D;
    border-radius: 20px;
    width: 90%;
    background-color: #39363E;
    /* #282c34 */
    height: 30px;
    text-align: center;
    color: #FFF;


}
.continue{
    border: 2px solid #FF855D;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 106px;
    width: 50%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    color: #FFF;
    transition: all 0.3s;

}
.continue:hover{
    color: #FFF;
    background-color: #FF855D;


}
.home_container{
    margin-top: -110px;
}

.home_container .home{
    width: 600px;
    height: 400px;

}
.terace input[type="checkbox"]{
    border: 30px solid orange;
}

.terace{
    margin-left: 5%;
    margin-top: 5%;
    
}

/* Чекбокс */

.orange-checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .orange-checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 2px solid #FF855D;
    background-color: rgba(0, 0, 0, 0);
    
  }
  /* .orange-checkbox-container:hover input ~ .checkmark {
    
    
  } */
  /* * When the checkbox is checked, add a orange background */ */
.orange-checkbox-container input:checked ~ .checkmark {
  background-color: #FFB000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.orange-checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.orange-checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}  

/* Конец Чекбокса */


@media (max-width:1200px) {
    .home_container{
        display: none;
    }
    .aboutBlock{
        width: 100%;
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .contact-block{
        text-align: center;
    }
    .aboutBlock h3{
        text-align: center;
    }
    .img-block{
    display: flex;
    justify-content: space-around;
    margin-top: 44px;
    }
    .picture{
        min-height: 748px;
    }
    .maincalc{
        height: 353px;
    }
    .formcalc{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .formcalc .maintarg{
        margin: 0;
        margin-top: 0 !important;
    }

    .choice{
        display: flex;
        justify-content: center;
        width: 90%;
    }
    .title{
        margin-bottom:8%;
    }
    .maintarg,#demo,#demotwo,#floors,.continue{
    font-size: 27px;

    }
    #demo,#demotwo{
        width:10%;
    }
    .select{
        height: 36px;

    }
}
@media(max-width:800px){
.formcalc{
    max-width: 100%;
}
.header__inner img{
    margin: 0;
}
.title{
    margin-bottom: 16%;
}
.text{
    margin-bottom: 10%;
}
.heading{
    padding-top: 32%;
}
.inputsBlock input{
    display: flex;
    width: 80%;
}
.aboutBlock form {
    display: none;
}
.continue,#floors{
    font-size: 21px;
}
}